
:root{
    $orange:#F76E11;
    $lightOrange:#FF9F45;
    $cream:#FFBC80;
    $red:#FC4F4F;
}
html,body{
    scroll-behavior: smooth;
    font-family: 'Ubuntu', sans-serif !important;
    margin: 0rem !important;
    padding: 0rem !important;
    box-sizing: border-box !important;
}
