header .navbar{
    padding: 0.7rem 3rem !important;
    height: fit-content !important;
    background-color: white !important;
}
.navbar a{
    color: var(--orange) !important;
}
.logo{
    font-weight: 700;
    font-size: 1.8rem !important;
}